<div class="row">
    <div class="col-md-4 mxauto">
        <div class="card">
            <img src="summerparty.png" alt="" class="card-img-top">
            <div class="card-body">
                <h1>¢35,000</h1>
                <p>Disfruta de nuestro Summer Party en Puntarenas</p>
            </div>
            <div class="card-footer">
                <form action="/checkout" method="POST">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_TqBl3JR8GF7gmRdOcMwfrIBo00mK7BWtrw" 
                        data-amount="6200" 
                        data-name="AquaFun"
                        data-description="Entradas"
                        data-image="https://scontent.fsyq1-1.fna.fbcdn.net/v/t1.0-9/p960x960/78857100_103949381111322_1721765364339048448_o.png?_nc_cat=105&_nc_oc=AQmcRV_3OhsXq9VH7anmH7qEvK8YH2-4A5g0vutURQ5ufPr53sP39lWBlu2VMa--v9k&_nc_ht=scontent.fsyq1-1.fna&oh=6a4696e4cb81113d8263f530a7be15e5&oe=5EB9014D" data-locale="auto">
                        </script>
                    <script>
                        document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                    </script>
                    <button class="btn btn-dark btn-block">
                        Buy <i class="fas fa-shopping-cart"></i>
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

