<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Compra de Entradas</title>
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <!-- Fonts -->
    <script src="https://kit.fontawesome.com/f3da89245d.js" crossorigin="anonymous"></script>
    <!-- Custom css --->
    <link rel="stylesheet" href="main.css">
    <script src="https://js.stripe.com/v3/"></script>
    
</head>
<body>

    <nav class="navbar navbar-dark bg-primary p-2">
        <div class="container">
            <a class="navbar-brand" href="/">
                Compra de Entradas AquaFun
            </a>
        </div>
    </nav>
    <div class="container p-4">
    {{{ body }}}
    </div>

</body>
</html>